.advantages {
  background: rgb(255, 255, 255);
  width: 100%;
}

.advantages__wrapper {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: @wrapper-width-desktop;
    margin: 0 auto;
  }
}


.advantages__promo {
  color: @color-text-secondary;
  font-size: 24px;
  font-weight: 300;
  font-family: @main-font-family;
  line-height: 29px;
  text-align: center;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
  }
}

.advantages__list {
  background: @color-secondary;
}
