.comments {
  width: 100%;
}

.comments__wrapper {
  margin: 0 auto;
  width: 320px;
}

@media (min-width: @tablet-width) {
  .comments__wrapper {
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .comments__wrapper {
    width: 940px;
  }
}
