.price {
  width: 100%;
}

.price__wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @wrapper-width-tablet;
  }

  @media (min-width: @desktop-width) {
    width: @wrapper-width-desktop;
  }
}
