.main-nav {
  width: 320px;
  margin: 0 auto;
}

.site-list__item a {
  color: @color-text;
  text-transform: uppercase;
  font-family: @main-font-family;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.site-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 647px;
    margin: 0 auto;
  }

  .main-nav__wrapper {
    width: 940px;
    margin: 0 auto;
  }
}
