@color-main: rgb(29,38,49);
@color-text: rgb(255, 255, 255);
@main-font-family: "Open Sans", Arial, Helvetica, sans-serif;
@color-text-secondary: rgb(40,54,69);
@color-secondary: rgb(242, 242, 242);
@color-black: rgb(0, 0, 0);
@color-pink: rgb(210, 40, 86);
